src/main/mule/timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ecf44b8-dd9a-4540-8c94-76830175e7dc" basePath="newtimezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="59e12b80-5540-41c6-9150-f6c9129da2b9" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="timezone-appFlow" doc:id="b2b62c59-d754-49bd-8a33-32c6e9d7af21" >
		<http:listener doc:name="Listener" doc:id="cdddc01a-0d19-42a7-8f1f-267eed356ef9" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="d6dd28fe-bb88-4378-b5e0-8b401ed084b5" message="Message received withe region and city in URI"/>
		<logger level="INFO" doc:name="Logger" doc:id="29139f75-06e3-4355-9e14-e2471377c194" message="new logger to etst"/>
		<http:request method="GET" doc:name="Request" doc:id="b645b4f5-a2e0-4a09-896e-f6801588c7e0" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6d0a907a-5d57-4a60-a040-28a9e0f536a6" message="Process Completed Successfully"/>
	</flow>
</mule>
